*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/* css for footer home */
footer ul{
    list-style: none;
}
footer a{
    text-decoration: none;
}
/* css for post.html */
.main-post .row button{
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fefefe;
    border-radius: 5px;
    margin-top: 10px;
    padding: 7px;
}
/* css for view.html */
.main-view-top h5{
    white-space:nowrap;
}
.main-view-top button{
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0px 15px;
    text-align: center;
}
.main-post-bottom{
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}
